/* BARRE DE NAVIGATION : NE PAS TOUCHER */
.nav-container {
    width: 100%;
    z-index: 1000;
    top: 0;
    position: fixed;
    transition: 0.5s;
    background-color: white;
    height: 80px;
    display: block;
    -webkit-box-shadow: 0 8px 50px 0 rgba(194, 194, 194, 0.5);
    box-shadow: 0 8px 50px 0 rgba(194, 194, 194, 0.5);

}
.nav-container .nav-logo {
    padding-left: 2vw;
    height: 100%;
    width: 20vw;
    float: left;
    display: flex;
    align-items: center;
}
.nav-container .nav-logo img {
    display: block;
    width: 50%;
    margin-top: 10px;
}
.nav-container nav {
    z-index: 1500;
    padding-bottom: 10px;
    width: 70vw;
    float: right;
    height: 100%;
}
.nav-container nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
    margin: 0;
    justify-content: space-between;
    padding-left: 15vw;
}
.nav-container nav ul li {
    padding: 0 2vw 0 2vw;
    margin: 20px 0 20px 0;
    color: #525252;
    text-align: center;
    font-family: "Ubuntu Light", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s; }
.nav-container nav ul li a {
    text-decoration: none;
    color: #525252; }
.nav-container nav ul li:hover {
    color: darkgray; }
.nav-container nav ul li:hover a {
    color: inherit; }
.nav-container nav ul li:last-of-type {
    border: 0; }

.images img{
    transition: all 0.5s ease-in-out;
}
.images img:hover{
    transform: scale(0.9);
}






main{
    min-height: 150vh;
    padding: 5vh;
    width: 80vw;
    background-color: white;
    margin: auto;
    z-index: 600;
    margin-top: 20vh;
    text-align: justify;
}
.main-content{
    width: 100%;
}

.activites{
    text-align: center;
}
.activites img{
    border-radius: 20px;
    width: 100%;
}
p{
    font-size: 14pt;
    line-height: 200%;
}

.hero-card{
    width: 350px;
    padding: 20px;
    background-color: #ff304c;
    font-size: 20pt;
    color: white;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    margin-bottom: 3vh;
    margin-top: 5vh;
}
.partenaires{
    width:100%;
}
.partenaires-tech{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 2vw;
}
.partenaires-tech img{
    height: 50px;
    margin: 20px;
}
.clients{
     width: 90%;
     display: flex;
     flex-flow: row wrap;
    justify-content: space-evenly;
     margin: 2vw;
 }
.clients img{
    height: 50px;
    margin: 20px;
}
img.ecolo{
    width: 100%;
}
div.ecolo{
    margin-top: 8vh;
    margin-bottom: 8vh;
}
div.ecolo img{
    width: 100%
}
div.ecolo p{
    margin: 0;
    height: 280px;
}
.images img{
    width: 100%;
}
.pointsecolo{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}