body{
    margin: 0;
    padding: 0;
}
.frise div.friseElement{
    margin-top: 80px;
}
.frise div.friseElement:first-of-type{
    margin-top: 0;
}
.frise div.friseElement:last-of-type{
    margin-bottom: 80px;
}

.frisePointRight{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}
.frisePointRight .pointElementImg{
    height: 340px;
    width: 530px;
    background-color: aquamarine;
    translate: -40px 0;
    z-index: 100;
}
.frisePointRight .pointElementText{
    height: 250px;
    width: 600px;
    background-color: white;
    translate: 40px 0;
    z-index: 102;
    box-shadow: 0 25px 100px 0 rgb(0 0 0 / 15%)

}
.frisePointLeft{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.frisePointLeft .pointElementImg{
    height: 340px;
    width: 530px;
    background-color: aquamarine;
    translate: 40px 0;
    z-index: 100;
}
.frisePointLeft .pointElementText{
    height: 250px;
    width: 600px;
    background-color: white;
    translate: -40px 0;
    z-index: 102;
    box-shadow: 0 25px 100px 0 rgb(0 0 0 / 15%);
}
.frise .lien{
    width: 10px;
    height: 1600px;
    background-color: black;
    z-index: 101;
    position: absolute;
    translate: 50vw;
}

.frisePointRight .pointElementText{
    display: flex;
    justify-content: flex-end;
}
.frisePointLeft .pointElementText{
    display: flex;
    justify-content: flex-start;
}

.pointElementText .textDate{
    width: 250px;
    font-size: 50px;
    font-family: "Noto Sans Mono", monospace;
    inset: 0;
    text-align: center;
    z-index: 103;
}
.frisePointRight .pointElementText .textDate{
     transform: rotate(90deg);
     margin-right: 20px;
 }
.frisePointLeft .pointElementText .textDate{
    transform: rotate(-90deg);
    margin-left: 20px;
}

.pointElementText .textDetail{
    z-index: 104;
    position: absolute;
    padding: 20px;
    height: 210px;
}
.frisePointLeft .pointElementText .textDetail {
    margin-left: 80px;
}
.frisePointRight .pointElementText .textDetail{
    margin-right: 80px;
}

.textDetail h3{
    font-family: "Noto Sans Mono";
    margin-top: 0;
}
.textDetail div {
    font-family: "Ubuntu Thin";
    text-align: justify;
    text-justify: inter-word;
}