@media all and (max-width: 1400px) {
  .titre h1 {
    width: 100%; } }
@media all and (min-width: 1401px) {
  .titre h1 {
    width: 80%; } }
.nav-container {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100px;
  max-height: 30%;
  width: 100%;
  z-index: 1000;
  top: 0;
  position: fixed;
  transition: 0.5s; }
  .nav-container .nav-logo {
    height: 30%;
    padding-left: 2vw; }
    .nav-container .nav-logo img {
      padding-top: 25px;
      width: 250px;
      margin: auto;
      display: block; }
  .nav-container nav {
    width: 100%;
    z-index: 1500;
    padding-bottom: 10px; }
    .nav-container nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: 0; }
      .nav-container nav ul li {
        padding: 0 2vw 0 2vw;
        margin: 20px 0 20px 0;
        color: #525252;
        text-align: center;
        font-family: "Ubuntu Light";
        font-size: 15px;
        text-transform: uppercase;
        transition: 0.3s; }
        .nav-container nav ul li a {
          text-decoration: none;
          color: #525252; }
      .nav-container nav ul li:hover {
        color: darkgray; }
        .nav-container nav ul li:hover a {
          color: inherit; }
      .nav-container nav ul li:last-of-type {
        border: 0; }

.title-img {
  height: 85vh;
  background-image: url("../../img/accueil.webp");
  background-size: cover;
  background-repeat: no-repeat; }
  .title-img .titre {
    margin: 0;
    width: 90vw;
    font-family: "Ubuntu Light";
    /*background-color: rgba(255, 255, 255, 0.5);*/
    padding: 40px; }
    .title-img .titre h1 {
      font-size: 8vh;
      line-height: 150%;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding-top: 30vh; }
      .title-img .titre h1 span {
        padding: 0 10px 0 10px;
        background-color: rgba(255, 255, 255, 0.6); }
      .title-img .titre h1 span:last-of-type {
        padding-left: 0; }

.mouse-div {
  background-color: #efefef;
  padding: 20px; }
  .mouse-div .scroll-mouse {
    display: block;
    width: 85px;
    height: 45px;
    margin: auto; }
  .mouse-div .scroll-mouse:last-of-type {
    padding: 0;
    height: 30px; }

html:not([data-scroll='0']) .nav-container {
  background-color: white;
  height: 80px;
  display: block;
  -webkit-box-shadow: 0px 8px 50px 0px rgba(194, 194, 194, 0.5);
  box-shadow: 0px 8px 50px 0px rgba(194, 194, 194, 0.5); }
  html:not([data-scroll='0']) .nav-container .nav-logo {
    height: 100%;
    width: 20vw;
    float: left;
    display: flex;
    align-items: center; }
    html:not([data-scroll='0']) .nav-container .nav-logo img {
      width: 50%;
      margin-top: 10px; }
  html:not([data-scroll='0']) .nav-container nav {
    width: 70vw;
    float: right;
    height: 100%; }
    html:not([data-scroll='0']) .nav-container nav ul {
      justify-content: space-between;
      padding-left: 10vw; }

main {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  line-height: 1.5em;
  padding: 5vw; }
  main h3 {
    font-size: 15pt; }
  main .ligne1 {
    margin-top: 50px; }
    main .ligne1 .row .col {
      margin: 0 10px 0 10px; }
    main .ligne1 .row .images {
      overflow: hidden;
      padding: 0;
      -webkit-box-shadow: 0px 0px 5px -2px #959595;
      box-shadow: 0px 0px 10px 0px #959595; }
      main .ligne1 .row .images img {
        margin: 0;
        padding: 0;
        min-height: 100%;
        min-width: 100%; }
    main .ligne1 .row .texts {
      text-align: justify; }
  main .ligne2 {
    margin-top: 50px; }
    main .ligne2 .row .col {
      margin: 0 10px 0 10px; }
    main .ligne2 .images .col {
      overflow: hidden;
      padding: 0; }
      main .ligne2 .images .col img {
        margin: 0;
        padding: 0;
        width: 100%;
        -webkit-box-shadow: 0px 0px 5px -2px #959595;
        box-shadow: 0px 0px 10px 0px #959595; }
    main .ligne2 .texts {
      text-align: justify;
      line-height: 2em; }
  main .engagements-eco {
    margin: auto; }
    main .engagements-eco .ecolo {
      height: 750px;
      margin: 150px 0 150px 0;
      position: relative;
      background-image: url("../../img/accueil/nature.jpg");
      background-size: cover;
      background-repeat: no-repeat; }
      main .engagements-eco .ecolo .texts {
        text-align: justify;
        line-height: 2em;
        width: 50%;
        background-color: white;
        padding: 40px;
        position: absolute;
        bottom: 60px;
        top: auto;
        transform: none; }
        main .engagements-eco .ecolo .texts h3 {
          margin-top: 0; }

/*# sourceMappingURL=accueil.css.map */
